.article-navbar-primary {
	background-color: $brand-main;
	border-color: $brand-main;
	box-shadow: 0 2px 7px rgba($brand-text, 0.3);

	.navbar-nav>li>a, .navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
		color: #fff!important;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.navbar-toggle {
		padding-top: 13px;
		padding-bottom: 13px;
		border-color: #fff;
	}

	.navbar-collapse {
		border-color: transparent;
	}

	@media (max-width: 767px) {
		.navbar-nav .open .dropdown-menu>li>a {
			color: #fff;
		}
	}
}

.navbar-brand {
	font-size: 24px;
	padding-top: 20px;
	padding-bottom: 20px;
}